
{% load static %}
{% load pwa %}
<link rel="stylesheet" href="{% static 'polls/style.css' %}">
<head>
    <br><br><header>Welcome to Li Math!</header><br><br><br><br><br><br><br><br>

    {% if latest_score_list %}
        {% for score in latest_score_list %}
            <li><a>score: {{ score.score_value_text }}</a></li>
        {% endfor %}
    {% else %}
        <p>No scores are available.</p>
    {% endif %}
    
    {% if latest_question_list %}
        <ul>
        {% for question in latest_question_list %}
            <li><a href="{% url 'polls:detail' question.id %}">Question: {{ question.question_text }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No polls are available.</p>
    {% endif %}
    
    {% progressive_web_app_meta %}
</head>
